<div class="modal fade" id="preEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 960px;">
        <div class="modal-content">
            <div class="modal-body">

                <ul class="case-add-modal-title nav nav-tabs" id="myTabPre">
                    <li class="active"><a href="#tab_pre_info" data-toggle="tab">前置基础信息</a></li>
                    <li><a href="#tab_pre_action" data-toggle="tab">前置处理动作</a></li>
                    <li><a href="#tab_pre_expect" data-toggle="tab">预期值相关</a></li>
                </ul>
                <div class="tab-content tab-modal-content">
                    <div class="tab-pane active" id="tab_pre_info">
                        <!--前置基础信息开始-->
                        <div style="margin-top: 10px;margin-bottom: 10px;">
                            <div class="panel panel-default">
                                <div class="panel-heading">前置基础信息</div>
                                <div class="panel-body">
                                    <div id="" class="form-horizontal">
                                        <div class="form-group" style="margin-top: 15px;">
                                            <div class="col-sm-6">
                                                <label class="control-label col-sm-4" for="txt_pre_name">前置名称</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="txt_pre_name" maxlength="500">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label col-sm-4" for="txt_pre_description">前置描述</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="txt_pre_description"
                                                           maxlength="500">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="" class="form-horizontal">
                                        <div class="form-group" style="margin-top: 15px;">
                                            <div class="col-sm-6">
                                                <label class="control-label col-sm-4" for="txt_pre_type">
                                                    <label data-toggle="tooltip" data-html="true" data-placement="bottom"
                                                           title="
                                                        <p align='left'>
                                                            <li>common：当为common时是通过prev_case_id 关联的。</li>
                                                            <li>msg： 通过case_next_msg 关联，公共的msg prev_case_id= -1</li>
                                                            <li>task：通过case_next_task 关联  公共的task prev_case_id =0</li>
                                                            <li>当task 或者msg 的prev_case_id 为case_id 会忽略公共的task或者msg</li>
                                                            </p>
                                                        " class="glyphicon glyphicon-question-sign"></label>
                                                    前置类型</label>
                                                <div class="col-sm-8">
                                                    <select id="sel_pre_type" name="country" class="form-control selectpicker "
                                                            data-style="btn-primary" style="height: 55px;">
                                                        <option>common</option>
                                                        <option>task</option>
                                                        <option>msg</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label col-sm-4" for="txt_prev_flag">
                                                    <label data-toggle="tooltip" data-html="true" data-placement="bottom"
                                                           title="
                                                        <p align='left'>
                                                            用于处理前置的事物，大部分情况下前置标志已经写好。
                                                            如果需要新增一个没有的前置标志且前置类型为common
                                                            需要新增一个前置标志名称的方法来处理。
                                                            现在正在使用的前置标志如下：eg ：
                                                            <li>four_important_element ： grant 系统处理进件</li>
                                                            <li>prev_actual_value：处理实际值，所以setuptype = teardown</li>
                                                            <li>prev_except_value：处理预期值</li>
                                                            <li>prev_except_response_value ：处理预期值</li>
                                                            <li>extend_mainresponse_torequestbody：从全局变量中获取值填充到请求参数中
                                                            （case_api_params或者case_sql_params）根据case_check_method来确定</li>
                                                            <li>prev_sync_withdrawsuccess ：还款使用</li>
                                                            <li>prev_get_withhold_amount：还款使用</li>

                                                            </p>
                                                        " class="glyphicon glyphicon-question-sign"></label>
                                                    前置标志</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="txt_prev_flag" maxlength="100">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin-top: 15px;">
                                            <div class="col-sm-6">
                                                <label class="control-label col-sm-4" for="txt_prev_priority">
                                                    执行优先级</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="txt_prev_priority" maxlength="100">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label col-sm-4" for="txt_prev_wait_time">
                                                    等待时间</label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" id="txt_prev_wait_time" maxlength="100">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="" class="form-horizontal">
                                        <div class="form-group" style="margin-top: 15px;">
                                            <div class="col-sm-6">
                                                <label class="control-label col-sm-4" for="txt_pre_type">执行类型</label>
                                                <div class="col-sm-8">
                                                    <select id="sel_pre_setup_type" name="country"
                                                            class="form-control selectpicker " data-style="btn-primary"
                                                            style="height: 55px;">
                                                        <option>setup</option>
                                                        <option>teardown</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--前置基础信息结束-->
                    </div>
                    <div class="tab-pane" id="tab_pre_action">
                        <!--前置处理动作开始-->
                        <div style="margin-top: 10px;margin-bottom: 10px;">
                            <div class="panel panel-default">
                                <div class="panel-heading">前置处理动作</div>
                                <div class="panel-body">
                                    <ul id="myPre" class="case-add-modal-title nav nav-tabs">
                                        <li class="active">
                                            <a href="#pre0" data-toggle="tab">http请求</a>
                                        </li>
                                        <li>
                                            <a href="#pre1" data-toggle="tab">数据库请求</a>
                                        </li>
                                        <li>
                                            <a href="#pre2" data-toggle="tab">公共相关</a>
                                        </li>
                                    </ul>
                                    <div id="myPreContent" class="tab-content tab-modal-content">
                                        <div style="margin-top: 10px;margin-bottom: 10px;"></div>
                                        <div class="tab-pane fade in active" id="pre0">
                                            <div>
                                                <form id="formSearch" class="form-horizontal">
                                                    <div class="form-group" style="margin-top:15px">
                                                        <label class="control-label col-sm-1" style="width: 120px;"
                                                               for="txt_pre_request_url">请求URL</label>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" id="txt_pre_request_url"
                                                                   maxlength="500">
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-top:15px">
                                                        <label class="control-label col-sm-1" style="width: 120px;"
                                                               for="txt_pre_request_method">请求方式</label>
                                                        <div class="col-sm-4">
                                                            <select id="sel_pre_request_method" name="country"
                                                                    class="form-control selectpicker " data-style="btn-primary"
                                                                    style="height: 55px;">
                                                                <option>POST</option>
                                                                <option>GET</option>
                                                                <option>DELETE</option>
                                                                <option>PUT</option>
                                                            </select>
                                                        </div>
                                                        <label class="control-label col-sm-1" style="width: 150px;"
                                                               for="txt_pre_request_header">请求头信息</label>
                                                        <div class="col-sm-4">
                                                            <select id="sel_pre_request_header" name="country"
                                                                    class="form-control selectpicker " data-style="btn-primary"
                                                                    style="height: 55px;">
                                                                <option>application/json</option>
                                                                <option>application/x-www-form-urlencoded</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group" style="margin-top:15px">
                                                        <label class="control-label col-sm-1"
                                                               style="width: 120px;margin-top: 30px;"
                                                               for="txt_pre_request_args">请求参数</label>
                                                        <div class="col-sm-10">
                                                            <div id="json_pre_request_args"></div>
                                                        </div>
                                                    </div>
                                                </form>
                                                <form id="formSearch" class="form-horizontal">
                                                    <div class="form-group" style="margin-top:15px;display: none;">
                                                        <label class="control-label col-sm-1"
                                                               style="width: 120px;margin-top: 30px;" for="txt_pre_replace">替换表达式</label>
                                                        <div class="col-sm-10">
                                                            <div id="json_pre_http_replace"></div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="pre1">
                                            <form id="formSearch" class="form-horizontal">
                                                <div class="form-group" style="margin-top:15px">
                                                    <label class="control-label col-sm-1" style="width: 120px;"
                                                           for="txt_pre_sql">sql语句</label>
                                                    <div class="col-sm-10">
                                                        <textarea id="txt_pre_sql" rows="5" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-top:15px">
                                                    <label class="control-label col-sm-1" style="width: 120px;"
                                                           for="txt_pre_sql_args">sql参数</label>
                                                    <div class="col-sm-10">
                                                        <div id="json_pre_sql_args"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-top:15px;">
                                                    <label class="control-label col-sm-1" style="width: 120px;display: none;"
                                                           for="txt_pre_sql_replace">替换表达式</label>
                                                    <div class="col-sm-5" style="display: none;">
                                                        <div id="json_pre_sql_replace"></div>
                                                    </div>

                                                    <label class="control-label col-sm-1" style="width: 120px;"
                                                           for="txt_pre_run_sql_device">执行数据库</label>
                                                    <div class="col-sm-3">
                                                        <input type="text" class="form-control" id="sel_pre_run_sql_device"
                                                               maxlength="500">
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                        <div class="tab-pane fade" id="pre2">
                                            <form id="formSearch" class="form-horizontal">
                                                <div class="form-group" style="margin-top:15px">
                                                    <label class="control-label col-sm-2" style="width: 180px;"
                                                           for="txt_public_replace">公共替换表达式</label>
                                                    <div class="col-sm-9">
                                                        <div id="json_public_replace"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-top:15px">
                                                    <label class="control-label col-sm-2" style="width: 180px;"
                                                           for="txt_user_args">用户变量定义参数</label>
                                                    <div class="col-sm-9">
                                                        <div id="json_user_args"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group" style="margin-top:15px;display: none;">
                                                    <label class="control-label col-sm-2" style="width: 180px;"
                                                           for="txt_pre_replace">预期值替换表达式</label>
                                                    <div class="col-sm-9">
                                                        <div id="json_pre_replace"></div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--前置处理动作结束-->
                    </div>
                    <div class="tab-pane" id="tab_pre_expect">
                        <!--预期值相关开始-->
                        <div style="margin-top: 10px;">
                            <div class="panel panel-default">
                                <div class="panel-heading">预期值相关</div>
                                <div class="panel-body">
                                    <div id="" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="control-label col-sm-1" style="width: 120px;margin-top: 30px;"
                                                   for="txt_pre_expect">用例预期值</label>
                                            <div class="col-sm-10">
                                                <div id="json_pre_expect"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--预期值相关结束-->
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="pre_btn_cancel">取消</button>
                <button type="button" class="btn btn-default" id="pre_btn_save">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
    $("#pre_btn_save").click(function () {
        // console.log($("#formSearch").serialize());

        var prev_name = $("#txt_pre_name").val();
        var prev_description = $("#txt_pre_description").val();
        var prev_task_type = $("#sel_pre_type").val();
        var prev_flag = $("#txt_prev_flag").val();
        var prev_setup_type = $("#sel_pre_setup_type").val();
        var prev_priority = $("#txt_edit_prev_priority").val();
        var prev_wait_time = $("#txt_edit_prev_wait_time").val();

        var is_prev_http_db = $('#myPre input:radio:checked').val();
        var prev_except_value = $.isEmptyObject(json_dict['json_pre_expect'].get()) == true ? "" : json_dict['json_pre_expect'].get();

        // pre db vars
        var txt_pre_sql = "";
        var json_pre_sql_args = "";
        var json_pre_sql_replace = "";
        var sel_pre_run_sql_device = "";

        // pre http vars
        var txt_pre_request_url = "";
        var sel_pre_request_method = "";
        var sel_pre_request_header = "";
        var json_pre_request_args = "";
        var json_pre_replace = "";


        //pre public
        var prev_public_replace = "";
        var prev_public_customer_args = "";
        var prev_public_except = "";


        var txt_pre_request_url = $("#txt_pre_request_url").val();
        var sel_pre_request_method = $("#sel_pre_request_method").val();
        var sel_pre_request_header = $("#sel_pre_request_header").val();
        var sel_pre_request_header_dict = JSON.stringify({
            "Content-type": sel_pre_request_header
        });

        var json_pre_request_args = $.isEmptyObject(json_dict['json_pre_request_args'].get()) == true ? "" : json_dict['json_pre_request_args'].get();
        var json_pre_replace = $.isEmptyObject(json_dict['json_pre_http_replace'].get()) == true ? "" : json_dict['json_pre_http_replace'].get();

        var txt_pre_sql = $("#txt_pre_sql").val();
        var json_pre_sql_args = $.isEmptyObject(json_dict['json_pre_sql_args'].get()) == true ? "" : json_dict['json_pre_sql_args'].get();
        var json_pre_sql_replace = $.isEmptyObject(json_dict['json_pre_sql_replace'].get()) == true ? "" : json_dict['json_pre_sql_replace'].get();
        var sel_pre_run_sql_device = $("#sel_pre_run_sql_device").val();

        var prev_public_replace = $.isEmptyObject(json_dict['json_public_replace'].get()) == true ? "" : json_dict['json_public_replace'].get();
        var prev_public_customer_args = $.isEmptyObject(json_dict['json_user_args'].get()) == true ? "" : json_dict['json_user_args'].get();
        var prev_public_except = $.isEmptyObject(json_dict['json_pre_replace'].get()) == true ? "" : json_dict['json_pre_replace'].get();

        if (prev_name == "") {
            toastr.warning("warning", '前置名称不能为空');
            return
        }
        if (prev_flag == "") {
            toastr.warning("warning", '前置名称不能为空');
            return
        }
        if (txt_pre_request_url == "") {
            sel_pre_request_method = "";
            sel_pre_request_header_dict = "";
        }
        if (txt_pre_sql == "") {
            sel_pre_run_sql_device = "";
        }

        var prev_id = getMaxId("#tb_add_pre", "prev_id");

        var data = {
            "prev_id": prev_id,
            "prev_name": prev_name,
            "prev_description": prev_description,
            "prev_flag": prev_flag,
            "prev_task_type": prev_task_type,
            "prev_setup_type": prev_setup_type,
            "prev_api_address": txt_pre_request_url,
            "prev_api_method": sel_pre_request_method,
            "prev_api_params": json_pre_request_args,
            "prev_api_header": sel_pre_request_header_dict,
            "prev_api_expression": json_pre_replace,
            "prev_sql_statement": txt_pre_sql,
            "prev_sql_params": json_pre_sql_args,
            "prev_sql_database": sel_pre_run_sql_device,
            "prev_sql_expression": json_pre_sql_replace,
            "prev_expression": prev_public_replace,
            "prev_params": prev_public_customer_args,
            "prev_except_expression": prev_public_except,
            "prev_priority": prev_priority,
            "prev_wait_time": prev_wait_time,
            "prev_except_value": prev_except_value,
            "prev_in_user": "{{ current_user.username }}",
            "prev_last_user": "{{ current_user.username }}",
            "prev_in_date": get_date(),
            "prev_last_date": get_date()
        };
        $("#tb_add_pre").bootstrapTable('insertRow', {
            index: 0,
            row: data
        });

        $("#pre_btn_cancel").click();

    });

    function get_date() {
        var myDate = new Date();
        //获取当前年
        var year=myDate.getFullYear();
        //获取当前月
        var month=myDate.getMonth()+1;
        //获取当前日
        var date=myDate.getDate();
        var h=myDate.getHours();       //获取当前小时数(0-23)
        var m=myDate.getMinutes();     //获取当前分钟数(0-59)
        var s=myDate.getSeconds();

        var now=year+'-'+getNow(month)+"-"+getNow(date)+" "+getNow(h)+':'+getNow(m)+":"+getNow(s);
        return now
    }

    function getNow(s) {
        return s < 10 ? '0' + s: s;
    }

</script>

