
<div class="modal fade" id="showBranchCommit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 1180px; ">
        <div class="modal-content">
            <div class="modal-body">
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="record_title">master分支提交信息</div>
                        <table id="tb_case_branch_commit"></table>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
