
<div class="modal fade" id="showBuildRecord" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 1080px; ">
        <div class="modal-content">
            <div class="modal-body">
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="record_title">短信系统-环境1-构建记录</div>
                        <div class="panel-body">
                            <ul id="buildRecordTab" class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab_detail_0" id="tab_record">构建记录</a>
                                </li>
                                <li>
                                    <a href="#tab_detail_1" id="tab_log">构建日志</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="tab_detail_0">
                                    <div id="" class="form-horizontal">
                                        <div class="form-group" style="margin-top: 15px;">
                                            <div class ="col-sm-12" id="div_table">
                                                <table id="tb_build_record"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab_detail_1">
                                    <div id="log_detail">test</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
