
<div class="modal fade" id="showEmailContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" style="width: 1180px; ">
        <div class="modal-content">
            <div class="modal-body">
                <div style="margin-top: 10px;margin-bottom: 10px;">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="record_title">提测邮件内容</div>
                        <iframe id="email_content" src="" style="width: 1140px;height: 700px;border: 0px;"></iframe>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
