
<div class="modal fade" id="modal_upload_file" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 960px;" >
        <input class="hidden" value="" id="story_id">
        <input class="hidden" value="" id="task_index">
        <div class="modal-content">
            <div class="modal-body">
                <!--初始化基础信息开始-->
                <div style="margin:0px;">
                    <div class="panel panel-default">
                    <div class="panel-heading">xmind用例上传</div>
                    <div class="panel-body">
                        <div class="pull-left">
                            <input type="file" name="FileUpload" id="FileUpload"></div>
                        <div class="pull-right">
                            <input type="button" class="btn btn-primary" id="btn_uploadimg" value="上传">
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
