{
    "databases": [
        {
            "dbserver": "gaea_framework",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "gaea_framework",
                "port": 3306
            }
        },
        {
            "dbserver": "gbiz9",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "gbiz9",
                "port": 3306
            }
        },
        {
            "dbserver": "biz9",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "biz9",
                "port": 3306
            }
        },
        {
            "dbserver": "rbiz9",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "rbiz9",
                "port": 3306
            }
        },
        {
            "dbserver": "paysvr_test",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "paysvr",
                "port": 3306
            }
        },
        {
            "dbserver": "paysvr_staging",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "payment_staging",
                "port": 3306
            }
        },
        {
            "dbserver": "payment_staging",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "payment_staging",
                "port": 3306
            }
        },
        {
            "dbserver": "payment_test",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "payment_test",
                "port": 3306
            }
        },
        {
            "dbserver": "dataproxy2",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "dataproxy2",
                "port": 3306
            }
        },
        {
            "dbserver": "rbiz8",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "rbiz8",
                "port": 3306
            }
        },
        {
            "dbserver": "rbiz7",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "rbiz7",
                "port": 3306
            }
        },
        {
            "dbserver": "rbiz6",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "rbiz6",
                "port": 3306
            }
        },
        {
            "dbserver": "rbiz5",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "rbiz5",
                "port": 3306
            }
        },
        {
            "dbserver": "rbiz4",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "rbiz4",
                "port": 3306
            }
        },
        {
            "dbserver": "rbiz3",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "rbiz3",
                "port": 3306
            }
        },
        {
            "dbserver": "rbiz2",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "rbiz2",
                "port": 3306
            }
        },
        {
            "dbserver": "rbiz1",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "rbiz1",
                "port": 3306
            }
        },
        {
            "dbserver": "global_rbiz1_india",
            "config": {
                "host": "127.0.0.1",
                "username": "biz_test",
                "password": "1Swb3hAN0Hax9p",
                "database": "global_rbiz1",
                "port": 4331
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf60ec1554fou12qk33150.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 4331
            }
        },
        {
            "dbserver": "global_rbiz2_india",
            "config": {
                "host": "127.0.0.1",
                "username": "biz_test",
                "password": "1Swb3hAN0Hax9p",
                "database": "global_rbiz2",
                "port": 4332
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf60ec1554fou12qk33150.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 4332
            }
        },
        {
            "dbserver": "global_rbiz3_india",
            "config": {
                "host": "127.0.0.1",
                "username": "biz_test",
                "password": "1Swb3hAN0Hax9p",
                "database": "global_rbiz3",
                "port": 3306
            }
        },
        {
            "dbserver": "global_rbiz4_india",
            "config": {
                "host": "127.0.0.1",
                "username": "biz_test",
                "password": "1Swb3hAN0Hax9p",
                "database": "global_rbiz4",
                "port": 3306
            }
        },
        {
            "dbserver": "biz8",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "biz8",
                "port": 3306
            }
        },
        {
            "dbserver": "biz7",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "biz7",
                "port": 3306
            }
        },
        {
            "dbserver": "biz6",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "biz6",
                "port": 3306
            }
        },
        {
            "dbserver": "biz5",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "biz5",
                "port": 3306
            }
        },
        {
            "dbserver": "biz4",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "biz4",
                "port": 3306
            }
        },
        {
            "dbserver": "biz3",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "biz3",
                "port": 3306
            }
        },
        {
            "dbserver": "biz2",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "biz2",
                "port": 3306
            }
        },
        {
            "dbserver": "biz1",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "biz1",
                "port": 3306
            }
        },
        {
            "dbserver": "gbiz8",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "gbiz8",
                "port": 3306
            }
        },
        {
            "dbserver": "gbiz7",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "gbiz7",
                "port": 3306
            }
        },
        {
            "dbserver": "gbiz6",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "gbiz6",
                "port": 3306
            }
        },
        {
            "dbserver": "gbiz5",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "gbiz5",
                "port": 3306
            }
        },
        {
            "dbserver": "gbiz4",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "gbiz4",
                "port": 3306
            }
        },
        {
            "dbserver": "gbiz3",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "gbiz3",
                "port": 3306
            }
        },
        {
            "dbserver": "gbiz2",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "gbiz2",
                "port": 3306
            }
        },
        {
            "dbserver": "gbiz1",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "gbiz1",
                "port": 3306
            }
        },
        {
            "dbserver": "global_gbiz1_india",
            "config": {
                "host": "127.0.0.1",
                "username": "biz_test",
                "password": "1Swb3hAN0Hax9p",
                "database": "global_gbiz1",
                "port": 3331
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf60ec1554fou12qk33150.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3331
            }
        },
        {
            "dbserver": "global_gbiz2_india",
            "config": {
                "host": "127.0.0.1",
                "username": "biz_test",
                "password": "1Swb3hAN0Hax9p",
                "database": "global_gbiz2",
                "port": 3332
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf60ec1554fou12qk33150.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3332
            }
        },
        {
            "dbserver": "global_gbiz3_india",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "global_gbiz3",
                "port": 3306
            }
        },
        {
            "dbserver": "global_gbiz4_india",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "global_gbiz4",
                "port": 3306
            }
        },
        {
            "dbserver": "lanmao_test2",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "lanmao_test2",
                "port": 3306
            }
        },
        {
            "dbserver": "qnn_clearing2",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "qnn_clearing2",
                "port": 3306
            }
        },
        {
            "dbserver": "interest1",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "interest1",
                "port": 3306
            }
        },
        {
            "dbserver": "msgsvr_dev",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "msgsvr_dev",
                "port": 3306
            }
        },
        {
            "dbserver": "global_payment1_india",
            "config": {
                "host": "127.0.0.1",
                "username": "biz_test",
                "password": "1Swb3hAN0Hax9p",
                "database": "ind_payment_test1",
                "port": 3349
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf60ec1554fou12qk33150.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3349
            }
        },
        {
            "dbserver": "global_payment2_india",
            "config": {
                "host": "127.0.0.1",
                "username": "biz_test",
                "password": "1Swb3hAN0Hax9p",
                "database": "global_payment_test2",
                "port": 3348
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf60ec1554fou12qk33150.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3348
            }
        },
        {
            "dbserver": "contract",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "contract",
                "port": 3306
            }
        },
        {
            "dbserver": "contractsvr",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "contractsvr",
                "port": 3306
            }
        },
        {
            "dbserver": "capital7",
            "config": {
                "host": "127.0.0.1",
                "username": "capital",
                "password": "piqXNdySXa2bLsbE",
                "database": "capital7",
                "port": 3322
            }
        },
        {
            "dbserver": "capital6",
            "config": {
                "host": "127.0.0.1",
                "username": "capital",
                "password": "piqXNdySXa2bLsbE",
                "database": "capital6",
                "port": 3322
            }
        },
        {
            "dbserver": "tq_deposit1",
            "config": {
                "host": "127.0.0.1",
                "username": "capital",
                "password": "piqXNdySXa2bLsbE",
                "database": "tq_deposit1",
                "port": 3306
            }
        },
        {
            "dbserver": "cmdb_v1",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "cmdb_v1",
                "port": 3306
            }
        },
        {
            "dbserver": "global_gbiz1_thailand",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "0Q^0bBURuSvS3#PB",
                "database": "tha_gbiz1",
                "port": 3511
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf6seazei9e71x831.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3511
            }
        },
        {
            "dbserver": "global_gbiz2_thailand",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "0Q^0bBURuSvS3#PB",
                "database": "tha_gbiz2",
                "port": 3512
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf6seazei9e71x831.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3512
            }
        },
        {
            "dbserver": "global_dcs1_thailand",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "0Q^0bBURuSvS3#PB",
                "database": "tha_dcs1",
                "port": 3533
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf6seazei9e71x831.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3533
            }
        },
        {
            "dbserver": "global_rbiz1_thailand",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "0Q^0bBURuSvS3#PB",
                "database": "tha_rbiz1",
                "port": 3521
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf6seazei9e71x831.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3521
            }
        },
        {
            "dbserver": "global_rbiz2_thailand",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "0Q^0bBURuSvS3#PB",
                "database": "tha_rbiz2",
                "port": 3522
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf6seazei9e71x831.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3522
            }
        },
        {
            "dbserver": "global_payment1_thailand",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "0Q^0bBURuSvS3#PB",
                "database": "tha_payment_test1",
                "port": 3531
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf6seazei9e71x831.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3531
            }
        },
        {
            "dbserver": "global_payment2_thailand",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "0Q^0bBURuSvS3#PB",
                "database": "tha_payment_test2",
                "port": 3532
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf6seazei9e71x831.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3532
            }
        },
        {
            "dbserver": "global_gbiz1_philippines",
            "config": {
                "host": "127.0.0.1",
                "username": "troot",
                "password": "QZOzz46rUjs$$PIKL8",
                "database": "phl_gbiz1",
                "port": 3511
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf6589ct883rjc052.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3511
            }
        },
        {
            "dbserver": "global_rbiz1_philippines",
            "config": {
                "host": "127.0.0.1",
                "username": "troot",
                "password": "QZOzz46rUjs$$PIKL8",
                "database": "phl_rbiz1",
                "port": 3521
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf6589ct883rjc052.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3521
            }
        },
        {
            "dbserver": "global_payment1_philippines",
            "config": {
                "host": "127.0.0.1",
                "username": "troot",
                "password": "QZOzz46rUjs$$PIKL8",
                "database": "phl_payment_test1",
                "port": 3531
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf6589ct883rjc052.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3531
            }
        },
        {
            "dbserver": "global_gbiz1_mexico",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "uJQaHO5Gh817x9Ew",
                "database": "mex_gbiz1",
                "port": 3511
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf6z2o8w9rure4as4.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3511
            }
        },
        {
            "dbserver": "global_rbiz1_mexico",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "uJQaHO5Gh817x9Ew",
                "database": "mex_rbiz1",
                "port": 3521
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf6z2o8w9rure4as4.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3521
            }
        },
        {
            "dbserver": "global_payment1_mexico",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "uJQaHO5Gh817x9Ew",
                "database": "mex_payment_test1",
                "port": 3531
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf6z2o8w9rure4as4.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3531
            }
        },
        {
            "dbserver": "global_gbiz1_pakistan",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "llttlVZpGlUnIB5X",
                "database": "pak_gbiz1",
                "port": 3511
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf6cikimuw8n9oe6q.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3511
            }
        },
        {
            "dbserver": "global_rbiz1_pakistan",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "llttlVZpGlUnIB5X",
                "database": "pak_rbiz1",
                "port": 3521
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf6cikimuw8n9oe6q.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3521
            }
        },
        {
            "dbserver": "global_payment1_pakistan",
            "config": {
                "host": "127.0.0.1",
                "username": "root",
                "password": "llttlVZpGlUnIB5X",
                "database": "pak_payment_test1",
                "port": 3531
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf6cikimuw8n9oe6q.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3531
            }
        },
        {
            "dbserver": "qsq_fox1",
            "config": {
                "host": "10.1.0.15",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "qsq_fox1",
                "port": 3306
            }
        },
        {
            "dbserver": "qsq_fox2",
            "config": {
                "host": "10.1.0.15",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "qsq_fox2",
                "port": 3306
            }
        },
        {
            "dbserver": "qsq_fox3",
            "config": {
                "host": "10.1.0.15",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "qsq_fox3",
                "port": 3306
            }
        },
        {
            "dbserver": "qsq_fox4",
            "config": {
                "host": "10.1.0.15",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "qsq_fox4",
                "port": 3306
            }
        },
        {
            "dbserver": "qsq_fox_log",
            "config": {
                "host": "10.1.0.15",
                "username": "root",
                "password": "Coh8Beyiusa7",
                "database": "qsq_fox_log",
                "port": 3306
            }
        },
        {
            "dbserver": "arcticfox-thailand",
            "config": {
                "host": "127.0.0.1",
                "username": "loanafter",
                "password": "jk1Uqw5MYWjFiC0",
                "database": "arcticfox-thailand",
                "port": 3301
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf60ec1554fou12qk33150.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3301
            }
        },
        {
            "dbserver": "arcticfox-philippines",
            "config": {
                "host": "127.0.0.1",
                "username": "loanafter",
                "password": "jk1Uqw5MYWjFiC0",
                "database": "arcticfox-philippines",
                "port": 3301
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf60ec1554fou12qk33150.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3301
            }
        },
        {
            "dbserver": "arcticfox-mexico",
            "config": {
                "host": "127.0.0.1",
                "username": "loanafter",
                "password": "jk1Uqw5MYWjFiC0",
                "database": "arcticfox-mexico",
                "port": 3301
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf60ec1554fou12qk33150.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3301
            }
        },
        {
            "dbserver": "arcticfox-india",
            "config": {
                "host": "127.0.0.1",
                "username": "loanafter",
                "password": "jk1Uqw5MYWjFiC0",
                "database": "arcticfox-india",
                "port": 3301
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf60ec1554fou12qk33150.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3301
            }
        },
        {
            "dbserver": "arcticfox-pakistan",
            "config": {
                "host": "127.0.0.1",
                "username": "loanafter",
                "password": "jk1Uqw5MYWjFiC0",
                "database": "arcticfox-pakistan",
                "port": 3301
            },
            "ssh": {
                "sshproxyhost": "47.116.2.104",
                "sshremotehost": "rm-uf60ec1554fou12qk33150.mysql.rds.aliyuncs.com",
                "sshusername": "ssh-proxy",
                "sshprivatekey": "./resource/dx_ssh_proxy",
                "sshbindport": 3301
            }
        }
    ]
}