.case_program_item {
    float: left;
    display: block;
    width: 120px;
    line-height: 18px;
    height: 20px;
    list-style: none;
    white-space: nowrap;
    margin-left: 30px;
    margin-top: 7px;
    cursor: pointer;
}


.case_program_item.active > a,
.case_program_item li:hover {
    color: blue;
}
.W120 {
    min-width: 122px;
}

.tool-div {
    margin-top: -10px;
}

.tool-div a {
    color: #8091a5;
    margin: 0 10px;
    cursor:pointer;
    font-family: "Microsoft Yahei";
}

.tool-div a > i {
    margin: 0 10px;
}

.tool-div a:hover,
.tool-div a:active {
    color: #3582fb;
}

.W140 {
    min-width: 140px;
}

.W90 {
    min-width:90px;
}

.bootstrap-table .table > thead > tr > th {
    border: none;
}
.bootstrap-table .table {
    border: none;
}
.copy_cases {
    width: 200px!important;
}

.col_name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 320px;
}

.case_header {
    box-shadow: 0 0 10px rgba(128,145,165,0.2);
    margin-bottom: 10px;
    border-radius: 2px;
    background: #fff;
    display: inline;
    float: left;
}

.case_header_dropdown {
    float: left;
    display: inline;
}

.table thead {
    border: none;
}
.fixed-table-container {
    border: 0px solid;
    box-shadow: 0 0 10px rgba(128,145,165,0.2);
}
.case_header_dropdown .btn {
    background: #f8f8f8;
    height: 60px;
    width: 180px;
}

.case_header_dropdown .btn:hover,
.case_header_dropdown .btn:focus{
    outline: none;
    box-shadow:0 0 0;
}

.th-inner {
    border: none;
}

.editable-click, a.editable-click, a.editable-click:hover {
    border: none;
}
.case_header_i {
    margin-right: 5px;
}

.case_header_ul a {
    height: 35px;
    padding-top: 7px!important;
    border-radius: 0;
}
.dropdown-menu {
    width: 180px;
}
.case_program_item > a {
    color: #8091a5;
}

.case_program_item > a:hover{
    color: blue;
}

.triangle {
    width: 0;
    height: 0;
    border: 10px solid #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    position: absolute;
    z-index: 100;
    margin-top: 20px;
    margin-left: 160px;
}

.case_select_type {
    display: block;
    float: left;
}

.case-sel-content {
    top: 123px;
    position: fixed;
    min-width: 300px;
    height: 600px;
    color: #8091a5;
    padding: 5px 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    background-color: #fff;
    z-index: 799;
    osition: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100px);
    opacity: 0;
    transition: all 900ms cubic-bezier(.9, 0, .33, 1);
}

